{% extends 'base.html.twig' %}

{% block title %}
  Nejlépe hodnocení Yeti
{% endblock %}

{% block body %}
  <div class="container text-center">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <a href="{{ path('yeti_detail', { id: randomMale.id }) }}" type="button" class="btn btn-primary">Začít hodnotit Yeťáky</a>
      <a href="{{ path('yeti_detail', { id: randomFemale.id }) }}" type="button" class="btn btn-secondary">Začít hodnotit Yeťačky</a>
    </div>

    <h1 class="text-center">Top deset Yetú</h1>
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>Jméno</th>
          <th>Pohlaví</th>
          <th>Výška (cm)</th>
          <th>Váha (kg)</th>
          <th>Bydliště</th>
          <th>Detail</th>
          <th> Momentální rating</th>
        </tr>
      </thead>
      <tbody>
        {% for yeti in topYetis %}
          <tr>
            <td>{{ yeti.name }}</td>
            <td>{{ yeti.gender.value }}</td>
            <td>{{ yeti.height }}</td>
            <td>{{ yeti.weight }}</td>
            <td>{{ yeti.placeOfStay }}</td>
            <td>{{ yeti.currentRating }}</td>
            <td>
              <a href="{{ path('yeti_detail', { id: yeti.id }) }}">Detail</a>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="6">Žádní Yeti zatím nebyli hodnoceni.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
