{% extends 'base.html.twig' %}

{% block title %}Nejlépe hodnocení Yeti{% endblock %}

{% block body %}
    <h1>Top 10 Yeti</h1>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Jméno</th>
                <th>Pohlaví</th>
                <th>Výška (cm)</th>
                <th>Váha (kg)</th>
                <th>Bydliště</th>
            </tr>
        </thead>
        <tbody>
            {% for yeti in yetis %}
                <tr>
                    <td>{{ yeti.name }}</td>
                    <td>{{ yeti.gender.value }}</td>
                    <td>{{ yeti.height }}</td>
                    <td>{{ yeti.weight }}</td>
                    <td>{{ yeti.placeOfStay }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Žádní Yeti zatím nebyli hodnoceni.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}